.App {
  text-align: left;
  background-color: rgb(213, 225, 248);
  margin: 1em auto;
  max-width: 50em;
  border-radius: 3px;
  padding: 1em 3em 2em;
}

input[type=text], 
input[type=email], 
input[type=textarea], 
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


